* {
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

header {
    padding: 12% 0;
}

a {
    text-decoration: none;
    text-align: center;   
} 

/* Nav bar items */
nav, footer {
    padding: 1% 0;
    background-color: #8c8c8c;
}
  
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
  
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
ul.topnav li a, .menu-btn{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-btn{
    margin: 0 auto;
    border: none;
}
  
ul.topnav li a:hover:not(.active), .menu-btn {background-color: #111;}

ul.topnav li a.active {background-color: rgb(222, 250, 67);}

ul.topnav li{
    float: right;
}

/* Sections - Styles */
  
section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}
  
header {
    color:#bbb;
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    padding: 200px 100px;
    background: url(Images/Night-Lights-West.PNG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section:nth-child(even) {
    background-color: #ddd;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile-pic {
    border: 1px solid black;
}

.bio-text {
    border: 1px solid black;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    border: 1px solid black;
}

.project{
    border: 1px solid black;
}

.project img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.hobby-section {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Form section */
.form-container{
    display:flex;
    justify-content: center;
}

label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

.submit input{
    margin: 0 auto;
}

input{
    color: black;
    background:  lightgrey;
    border: 1px solid black
}

.submit-form input{
    color: #000;
    background:  lightgrey;
    border: 1px solid rgb(22, 22, 22);
}

fieldset{
    border: 1px solid black;
    width: 20em
}

legend{
    color: #fff;
    background:  #111;
    border: 1px solid black;
    padding: 2px 6px
}

/* Footer links */
a > .fa{
    font-size: 30px;
    text-decoration: none;  
    padding:0.2em .2em;  
    color: black;
}

/* Add media queries to adapt for larger screens */
@media screen and (max-width: 775px) {
    ul.topnav, ul.topnav li {
        float: none;
    }
    main{
        margin-top: 280px;
    }
    .my-name {
        display: none;
    }
  }

@media screen and (min-width: 1020px){
    .my-name {
        position: absolute;
        left:60px; 
        padding: 14px 16px;
        color: white;
        border: 1px solid black;
    }
    .about {
        flex-direction: row;
    }
    .projects-container {
        flex-direction: row;
        /* flex-flow: row wrap;       */
    }
    .hobby-section{
        flex-direction: row;
    }
}
